{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fantasy Map Generator</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="page">
    <header>
        {{ template "navbar" .NavBar  }}
    </header>
    <hr/>
    <hr/>
    {{ template "content" .Content }}
    <hr/>
    <hr/>
    {{ template "footer" .Footer }}
</div>
</body>
</html>
{{ end }}