{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fantasy Map Generator</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="page">
    {{ template "navbar" }}
    {{ template "content" .Payload }}
    <footer>
        <p>Derived from John Olsson's generator.</p>
    </footer>
</div>
</body>
</html>
{{ end }}