{{ define "navbar" }}
    <nav>
        {{if not .IsAuthenticated}}
            <a href="/">Home</a>
        {{else}}
            <a href="/manage">Home</a>
        {{end}}
        <a href="/cookies/view">View Cookies</a>
        {{if .IsAuthenticated}}
            <a href="/cookies/clear">Clear Cookies</a>
            <a href="/logout">Logout</a>
        {{end}}
    </nav>
{{ end }}