{{ define "content" }}
    <p>
        This site uses cookies to store session information.
        That information allows you to create and view images.
        You may opt out of cookies, but you will not be able to use this site to create or view images.
    </p>
    <p>
       If you do not wish to use cookies, you can download the source code from Github,
       build the application, and run the server on your computer.
    </p>
{{ end }}